@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}


.formContainer{
    width: 95%;
    max-width: 800px;
    min-height: 600px;
    margin: 120px auto;
    padding: 50px 60px; 
    background-color: #ffffff;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);

}

.formTitle {
    font-size: 32px;
    font-weight: 600;
    color: #1f2937;
    text-align: center;
    margin-bottom: 90px;
   
}

.formGroup {
    width: 100%;
    margin-bottom: 25px;
}

.formLabel {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.formInput {
    width: 100%;
    padding: 15px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 14px;
    transition: border 0.2s ease;
}

.formInput:focus {
    border-color: #2563eb;
    outline: none;
}

.errorLabel {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.formButton {
    width: 100%;
    padding: 14px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 20px;
}

.formButton:disabled {
    background-color: #042aff;
    cursor: not-allowed;

}

.formButton:hover:not(:disabled) {
    background-color: #1d4ed8;
}