PORT = # puerto de conexión del servidor | 3000


DB_HOST = # host de la base de datos | localhost
DB_PORT = # puerto de conexión de la base de datos | 5432
DB_USERNAME = # usuario de la base de datos | postgres
DB_PASSWORD = # contraseña de la base de datos | colon1905
DB_DATABASE = # nombre de la base de datos | pt31
DB_SYNC = # sincronización de la base de datos (true/false) | true
DB_DROP = # borrar la base de datos al iniciar (true/false) | false
DB_LOGGING = # mostrar logs de la base de datos (true/false) | true