.appointmentCard {
    background-color: #b9bfcc;
    border: 1px solid #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    width: 300px;
    transition: all 0.3s ease;
}


.appointmentCard
:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.appointmentHeader  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.appointmentDetails {
    font-size: 14px;
    color: #475569;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.appointmentDetails p {
   display: flex;
    justify-content: space-between;
}

.appointmentDetails strong {
   color: #334155;
}

.statusActive {
    background-color: #dcfce7;
    color: #166534;
    padding: 5px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
}

.statusInactive {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 5px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
}